swagger2-spring-boot-starter/.settings/org.eclipse.m2e.core.prefs
swagger2-spring-boot-starter/.project
swagger2-spring-boot-starter/.gitignore
swagger2-spring-boot-starter/.settings/org.eclipse.jdt.core.prefs
swagger2-spring-boot-starter/.settings/org.eclipse.core.resources.prefs
swagger2-spring-boot-starter/.classpath
